.transactionHistory {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', Sans-Serif;
  font-size: 14px;
  border-collapse: collapse;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

th {
  background: #afcde7;
  color: white;
}
th,
td:first-child {
  color: black;
  padding: 20px 70px;
}
th,
td {
  border-style: solid;
  border-width: 0 3px 3px 0;
  border-color: white;
}

th:first-child,
td:first-child {
  text-align: left;
}
